<button class="btn btn-primary m-4"><a routerLink="/" >Home</a></button>
<button class="btn btn-primary m-4"><a routerLink="/server">Server</a></button>
<button class="btn btn-primary m-4"><a routerLink="/student">Student</a></button>
<button class="btn btn-danger m-4"  (click)="homeClickHandler()">Go to Home</button>
<button class="btn btn-danger m-4"  (click)="serverClickHandler()">Go to Server</button>
<button class="btn btn-danger m-4"  (click)="studentClickHandler()">Go to Student</button>
<router-outlet></router-outlet>